body{
    font-family: Montserrat;
    text-align:center;
}

#title{
  background-color: #ff4c68;
  color:white;
}

h1,h2,h3{
  font-family: "Montserrat";
}

.big-heading{
  text-align: left;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

.mid-heading , .pricing-text{
  font-weight: 510;
  font-size: 3rem;
  line height: 1.5;
}

.pricing-heading{
  font-weight: bold;
}

.subheading{
  padding-top: 10px;
  font-family: Montserrat ;
  font-weight: bold;
}


.cta-text{
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
    /* gives padding in order (top and bottom) (left and right) */
}

.navbar-brand{
font-family: "Ubuntu";
font-size: 4.5rem;
}

.nav-item{
  padding: 0 18;
  /* gives padding in order (top and bottom) (left and right) */
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

}

.row{
  padding: 50px;
}

.tinbutton
{
  padding-bottom: 50px;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image
{
  width: 20%;
  transform: rotate(25deg);
  position:absolute;
  left: 800px;
}
#features{
  padding: 5% ;
  background-color: #fff;
  position:relative;
  z-index: 1;
}

@media (max-width:1028px) {

  .big-heading{
    text-align: center;
  }
  .title-image{
    transform: rotate(0);
    position: static;
    width: auto;
  }
}



.icon {
color: #ef8172;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
  background-color:#ef8172;
  color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
width:15%;
border-radius: 100%;
/* to make the image round we use border radius */
margin: 40px;
}

#press{
    background-color:#ef8172;
}

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;

}

.press-image{
  margin: 20px 20px 50px;
  width: 15%;
}

#cta{
  padding-top: 70px;
  height:300px;
  background-color: #ff4c68;
}

#footer{
  padding-top: 70px;
    height:150px;

}

.some{
  margin:0px 5px 20px;
}
